<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% block css %}
            <link rel="stylesheet" href="/Ping-Pong/vendor/twbs/bootstrap/dist/css/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <footer style="text-align: center;">
            Alejandro Arn&aacute;iz Gonz&aacute;lez - <a href="mailto:alejandro.arnaiz.gonzalez@gmail.com">alejandro.arnaiz.gonzalez@gmail.com</a>
        </footer>
        {% block javascript %}
            <script type="text/javascript" src="/Ping-Pong/js/jquery-2.1.4.min.js"></script>
        {% endblock %}
    </body>
</html>

