{% extends "base.html.twig" %}
{% block title %}Create tournament{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css">
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Create tournament</div>
                <div class="text-right">
                    <a href="/Ping-Pong/logout" type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <form action="/Ping-Pong/tournaments" id="form" method="post">
                    <div id="dname" class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name"/>
                    </div>
                    <div id="dtime" class="form-group">
                        <label for="time">Time (format xx:xx)</label>
                        <input type="text" class="form-control" id="time" name="time" placeholder="Time"/>
                    </div>
                    <div id="ddate" class="form-group">
                        <label for="date">Date</label>
                        <input type="text" class="form-control" id="date" name="date" placeholder="Date"/>
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#date").datepicker({
                dateFormat: "yy-mm-dd"
            });

            $("#form").on("submit", function(event) {
                var regexTime = /^[0-2]\d:[0-6]\d$/;
                var regexDate = /^\d{4}-[0-1]\d-[0-3]\d$/;

                var name = $("#name").val();
                var time = $("#time").val();
                var date = $("#date").val();

                var error = false;
                if (!name) {
                    $("#dname").addClass("has-error");
                    error = true;
                } else {
                    $("#dname").removeClass("has-error");
                }

                if (time.search(regexTime) === -1) {
                    $("#dtime").addClass("has-error");
                    error = true;
                } else {
                    $("#dtime").removeClass("has-error");
                }

                if (date.search(regexDate) === -1) {
                    $("#ddate").addClass("has-error");
                    error = true;
                } else {
                    $("#ddate").removeClass("has-error");
                }

                if (error) {
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
