{% extends "base_home.html.twig" %}
{% block title %}Create tournament{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title text-center">Create tournament</div>
            </div>
            <div class="panel-body">
                <form action="/tournaments" id="form" method="post">
                    <div id="dname" class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name"/>
                    </div>
                    <div id="ddatetime" class="form-group">
                        <label for="datetime">Date and time</label>
                        <div class='input-group date' id='datetimepicker'>
                            <input type='text' class="form-control" id="datetime" name="datetime" placeholder="Date and time"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="/js/moment.min.js"></script>
    <script type="text/javascript" src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/js/create-tournament.js"></script>
{% endblock %}
