<html>
    <head>
        <title>Ping Pong</title>
    </head>
    <body>
        <form action="/Ping-Pong/login" method="post">
            Name: <input type="text" name="name"/>
            <input type="submit" value="Login">
        </form>
    </body>
</html>