{% extends "base.html.twig" %}
{% block title %}Ping Pong{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="/Ping-Pong/css/login.css">
{% endblock %}
{% block body %}
    <div class="container">
        <form class="form-signin" id="form" action="/Ping-Pong/login" method="post">
            <h2 class="form-signin-heading text-center">Ping Pong</h2>
            <div id="dname" class="form-group">
                <label class="sr-only" for="name">Name</label>
                <input type="text" autofocus="" placeholder="Name" class="form-control" name="name" id="name">
            </div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#form").on("submit", function(event) {
                var name = $("#name").val();
                if (!name) {
                    $("#dname").addClass("has-error");
                    event.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
