<html>
    <head>
        <title>Ping Pong</title>
    </head>
    <body>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
    </body>
</html>