<html>
    <head>
        <title>Participants</title>
    </head>
    <body>
    Participants
    <ul>
        Total: {{ num_people }}
        <br>
        Promoter: {{ promoter.name }}
        {% for user in users %}
            <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
    </body>
</html>